<div class="m-5">
    <div class="border">
        <table class="table table-striped table-border">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of UserList">
                <td>1{{user.name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>