<div class="container bg-light py-5">
            <div class="image">
            <h1 class="display-5 fw-bold">Welocme to Quiz App</h1>
            <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each Question holds 1 Points</p>
            <h4>Rules:</h4>
            <ol>
                <li>Correct Question gives you 10 points</li>
                <li>Incorrect question gives to -10 points</li>
                <li>You will have 60 sec to answer each question</li>
                <li>Refereshing the page will reset the Quiz</li>
            </ol>
            <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
            <div class="banner">
                <div class="container mt-5 mb-5">
                    <div class="row mt-5">
                    <div class="col-lg-4"*ngFor='let cc of CategoryList'>
                        <div class="col-lg-4 mt-2">
                            <div class="zoom">
                            <div class="stepBox"><img [src]="cc.image">
                                <h2>{{cc.category}}</h2>
                            </div>
                            </div>
                        </div>
                      <button class="btn btn-success" (click)="GetStatus(cc.id)">Start Quiz</button>
                      </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
        
